header{
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: hsla(221, 90%, 72%, 0.925);
}

.logo-header {
    height: 250px;
    width: 250px;
}

#titolo-principale {
    font-size: 50px;
    margin-bottom: 0;
}

.dati-autore{
    color: grey;
    font-size: 20px;
    margin-bottom: 20px;
}

#autore{
    color: aqua;
}

figure{
    
}

.img-Tim-Berners-Lee{
    
}

.evidenziato{
    background-color: rgb(250, 250, 14);
}